# dataset
*-ubyte

# trained models
trained_models
*.keras
!A06_FastAPI/mnist-epoch-10.keras
!A07_git_clone/fastapi-prometheus-grafana-sahil/app/mnist-model.keras

# venv
venv

# grafana and prometheus
A07_Docker_Prosthemous/grafana-enterprise-10.4.2.windows-amd64
A07_Docker_Prosthemous/prometheus-2.45.4.windows-amd64

A07_FastAPI_Prosthemous_download/grafana-enterprise-10.4.2.windows-amd64
A07_FastAPI_Prosthemous_download/prometheus-2.45.4.windows-amd64

# extra data
*.gz
*.pyc

# mlflow files
mlartifacts
mlruns

# Revati's files
*Revati